
/*                   */
/*  CHECKOUT PAGE    */
/*                   */
.shop-list-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    padding: 0 5rem 0 5rem;
}

.items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.added-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    max-width: 250px;
    border-radius: 25px;
    box-shadow: 0 0 3px 0 white;
}

img[alt='cart-product-display'] {
    max-width: 100%;
    max-height: 250px;
}

.added-item-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.added-item-description h3 {
    font-size: 1.2rem;
}

.added-item-description button:hover {
    background-color: #ffffff96;
}