/* SINGLE ITEM STYLING */
/*                     */
/*                     */
.item-vitrine {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.carrousel-watch-display {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    margin-top: 3rem;
    max-width: calc(100vw - calc(2 * calc(40px + 30px)));
}

.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: var(--container-color);
}

.watch-display-container {
    display: flex;
    height: 400px;
    width: 400px;
}

img[alt='watch-display'] {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}

.description-container {
    padding: 1rem;
    width: 500px;
    height: 400px;
}

.description-container h4 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem;
    text-align: center;
}

.return-container {
    padding: 3rem;
}


.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}


.to-add::after {
    content: 'Add to collection'
}

.added-watch::after {
    content: 'Added to collection';
}

@media screen and (max-width : 540px) {
    .description-container {
        width: auto;
        height: auto;
    }

    img.arrow {
        width: 30px;
        height: 30px;
    }

    img.arrow.right {
        right: 20px;
    }

    img.arrow.left {
        left: 20px;
    }

    .watch-display-container {
        height: 250px;
        width: 250px;
    }
}
