/*           */
/* SHOP PAGE */
/*           */
.shop-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    gap: 3rem;
}

.shop-container h3 {
    font-size: 1.7rem;
}

.shop-item-vitrine {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: var(--container-color);
    color: var(--text-color);
}

.carrousel-shop-page {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    max-width: calc(100vw - 170px);
}

.carrousel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.shop-carrousel-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.4rem;
    width: 100%;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button.more-info:hover {
    background-color: var(--main-color);
    color: var();
    font-weight: 700;
}

.img-container {
    display: flex;
    width: 300px;
    height: 300px;
}

img[alt='watch-carrousel'] {
    max-height: 90%;
    max-width: 90%;
    margin: auto;
}

img[alt='add-svg'],
img[alt='remove-svg'] {
    width: 30px;
    filter: invert(99%) sepia(3%) saturate(2127%) hue-rotate(299deg) brightness(109%) contrast(91%);
}

img[alt='add-svg']:hover {
    filter: invert(73%) sepia(10%) saturate(5885%) hue-rotate(40deg) brightness(102%) contrast(85%);
}

img[alt='remove-svg']:hover {
    filter: invert(9%) sepia(88%) saturate(6796%) hue-rotate(359deg) brightness(99%) contrast(110%);
}

img.arrow {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 50vh;
}

img.arrow.right{
    right: 40px;
}

img.arrow.left {
    left: 40px;
}

@media screen and (max-width : 530px) {
    .img-container{
        width: clamp(180px, 200px, 240px);
    }
}