@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

html {
    width: 100%;
}

body,
#root {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    overflow-x: hidden;
    background: linear-gradient(black, #67809c, black);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    font-family: 'Cormorant Garamond', serif;
    color: white;
}

footer {
    flex: 0 1 auto;
    padding: 1rem;
    text-align: center;
}

#header {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 0 1 auto;
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
    width: 100vw;
    justify-content: space-around;
    opacity: 0.5;
    align-items: center;
    font-weight: 600;
}

#header:hover {
    background-color: #ECECEC;
}

#header:hover a {
    color: black;
    opacity: 1;
    transition: opacity 500ms;
    z-index: 1;
}

#header:hover .cart-shortcut-container #cart-shortcut>* {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(234deg) brightness(96%) contrast(107%);
    color: black;
}

#links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#links a {
    text-decoration: none;
    /* padding: 0.5rem; */
    color: white;
    position: relative;
    opacity: 1;
}

#links a:hover {
    text-decoration: underline;
}

#cart-shortcut {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

img[alt='cart-svg'] {
    filter: invert(100%) sepia(2%) saturate(7487%) hue-rotate(196deg) brightness(105%) contrast(100%);
    width: 35px;
}

.cart-add {
    animation: cart-animation-add;
    animation-duration: 350ms;
}

@keyframes cart-animation-add {
    0% {
        filter: invert(100%) sepia(2%) saturate(7487%) hue-rotate(196deg) brightness(105%) contrast(100%);
    }

    50% {
        filter: invert(73%) sepia(10%) saturate(5885%) hue-rotate(40deg) brightness(102%) contrast(85%);
    }

    100% {
        filter: invert(100%) sepia(2%) saturate(7487%) hue-rotate(196deg) brightness(105%) contrast(100%);
        transform: rotate(360deg);
    }
}

.cart-remove {
    animation: cart-animation-remove;
    animation-duration: 350ms;
}

@keyframes cart-animation-remove {
    0% {
        filter: invert(100%) sepia(2%) saturate(7487%) hue-rotate(196deg) brightness(105%) contrast(100%);
    }

    50% {
        filter: invert(9%) sepia(88%) saturate(6796%) hue-rotate(359deg) brightness(99%) contrast(110%);
        transform: translateX(10px);
    }

    100% {
        filter: invert(100%) sepia(2%) saturate(7487%) hue-rotate(196deg) brightness(105%) contrast(100%);
        transform: translateX(0);
    }
}

#items-count {
    font-size: 1.4rem;
    padding: 0.4rem;
    color: white;
}

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

/*                */
/*                */
/* LANDING PAGE   */
video {
    width: 100%;
    height: auto;
}

#citation {
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    margin: auto;
}

p.intro {
    animation: fadeIn 8000ms forwards;
    width: 100vw;
    text-align: center;
}

p.intro:nth-of-type(1) {
    font-family: 'Playfair Display', serif;
    /* font-size: 1.8rem; */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.vitrine-title {
    animation: vitrine-fade-out 1500ms forwards linear;
}

.lorem {
    padding: 1rem;
    animation: vitrine-fade-out 800ms forwards linear;
    max-width: 50vw;
}

#vitrine {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    gap: 3rem;
    margin: auto;
}

.vitrine-container {
    position: relative;
    border: 1px solid white;
    animation: vitrine-fade-out 800ms forwards linear;
    text-align: center;
    color: white;
    width: 90vw;
    gap: 2rem;
}

.vitrine-container.deep {
    background: url('../public/vitrines/deep2.jpg');
    background-size: cover;
}

.vitrine-container.dress {
    background: url('../public/vitrines/dress.jpg');
    background-size: cover;
}

.vitrine-container.racer {
    background: url('../public/vitrines/racer.jpg');
    background-size: cover;
}

.vitrine-container.pilot {
    background: url('../public/vitrines/pilot.jpg');
    background-size: cover;
}

.vitrine-container.field {
    background: url('../public/vitrines/field.jpg');
    background-size: cover;
}

.vitrine-container>p {
    font-size: 2rem;
    margin: 2rem auto 2rem auto;
    /* background: radial-gradient(#000000c9 50%, transparent); */
    width: fit-content;
    padding: 1rem;
    text-shadow: 0 0 1em black ;
}

.vitrine-category {
    background: #000000c9;
    padding: 2rem;
    border-radius: 15px;
    color: white;
    box-shadow: 0 2px 4px 2px white;
    max-width: fit-content;
    margin: 0 auto 10vh auto;
}

.vitrine-category button {
    background: none;
    border: none;
    color: white;
    font-size: 1.25rem;
    padding: 0.3rem;
    width: 270px;
}

.vitrine-category button:hover {
    background-color: white;
    color: black;
}

.vitrine-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
    font-size: 2rem;
}

.featured>* {
    padding: 0;
    margin: 0;
}

.reveal {
    animation: vitrine-fade-in 1000ms forwards ease-out;
}

img[alt="vitrine-item-watch"] {
    height: 300px;
    /* width: 300px; */
}

/* img[alt="vitrine-item-image"] {
    height: 800px;
} */

.vitrine-photo-credits {
    position: absolute;
    /* background-color: rgba(168, 168, 168, 0.801); */
    padding: 0.3rem;
    font-size: 1rem;
    left: 0;
}

.vitrine-photo-credits a {
    color: inherit
}

@keyframes vitrine-fade-in {
    0% {
        opacity: 0;
        transform: translateX(5vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes vitrine-fade-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(5vw);
    }
}

/*           */
/* SHOP PAGE */
/*           */
.shop-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    gap: 2rem;
    padding: 3rem; */
    flex: 1 0 auto;
    align-items: center;
    gap: 3rem;
    padding: 0 5rem 0 5rem;
}

.shop-item-vitrine {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 1px 5px 0px darkgray;
    border-radius: 8px;
}

.carrousel-shop-page {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.carrousel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.shop-carrousel-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.4rem;
    width: 100%;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.more-info {
    width: 100%;
    padding: 0.7rem;
    border: none;
    background: darkgrey;
    border-radius: 8px;
}

button.more-info:hover {
    background-color: black;
    color: white;
}

.img-container {
    height: 340px;
    width: 340px;
    display: flex;
}

img[alt='watch-carrousel'] {
    height: 300px;
    width: auto;
    margin: auto;
}

img[alt='add-svg'],
img[alt='remove-svg'] {
    width: 30px;
}

img[alt='add-svg']:hover {
    filter: invert(73%) sepia(10%) saturate(5885%) hue-rotate(40deg) brightness(102%) contrast(85%);
}

img[alt='remove-svg']:hover {
    filter: invert(9%) sepia(88%) saturate(6796%) hue-rotate(359deg) brightness(99%) contrast(110%);
}

img.arrow {
    width: 40px;
    box-shadow: 0 1px 1px 1px black;
    background-color: inherit;
}

img.arrow:hover {
    background-color: #67809c;
}

img.arrow.left {
    transform: rotate(180deg);
}

/* SINGLE ITEM STYLING */
/*                     */
/*                     */
.item-vitrine {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.carrousel-watch-display {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    /* width: clamp(40vw, 50vw, 60vw); */
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    width: 800px;
}

.watch-display-container {
    width: 400px;
    display: flex;
    justify-content: center;
}

img[alt='watch-display'] {
    max-height: 100%;
}

.description-container {
    width: clamp(200px, 300px, 400px);
    padding: 3rem;
}

.description-container h4 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem;
    text-align: center;
}

.return-container {
    padding: 3rem;
}

.return-container button {
    width: 170px;
    padding: 0.7rem;
    border: none;
    background: darkgrey;
    border-radius: 8px;
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.add-to-cart button {
    width: 170px;
    padding: 0.7rem;
    border: none;
    background: darkgrey;
    border-radius: 8px;
}

.to-add::after {
    content: 'Add to collection'
}

.added-watch::after {
    content: 'Added to collection';
}

/*                   */
/*  CHECKOUT PAGE    */
/*                   */
.shop-list-container {
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    padding: 0 5rem 0 5rem;
}

.items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.added-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 500px;
    height: 300px;
}

img[alt='cart-product-display'] {
    max-width: 150px;
}

.added-item-description {
    display: flex;
    flex-direction: column;
}

.added-item-description h3 {
    font-size: 1.2rem;
}

/* MEDIA SCREEN */
/*              */
/*              */
@media screen and (max-width : 1100px) {
    #citation {
        position: relative;
    }

    p.intro {
        font-size: 1.2rem;
        animation: fadeIn 8000ms forwards;
        text-align: center;
    }

    p.intro:nth-of-type(1) {
        font-family: 'Playfair Display', serif;
        font-size: 1.1rem;
    }

    .vitrine-title,
    .lorem {
        animation: none;
    }

}

@media screen and (min-width : 800px) {


    .item-container {
        margin: 0;
        flex-wrap: nowrap;
        flex-direction: row;
        width: auto;
    }

    img.arrow {
        position: inherit;
    }
}

@media screen and (max-width : 800px) {
    .item-container {
        margin: 0;
        flex-wrap: wrap;
        width: auto;
    }

    img.arrow.left {
        left: 0;
    }

    img.arrow.right {
        right: 0;
    }

    .vitrine-title {
        animation: none;
    }

    .lorem {
        animation: none;
    }

    #vitrine {
        margin: unset;
        max-width: 80vw;
        /* font-size: 1rem; */
    }

    .vitrine-photo-credits {
        position: unset;
        font-size: 1rem;
    }

    .vitrine-container>p {
        font-size: 1.4rem;
    }

    .vitrine-category {
        padding: 0;
        width: 270px;
    }

    .featured {
        font-size: 1.4rem;
    }

}

@media screen and (max-width : 800px) and (min-width : 520px) {
    .carrousel-watch-display {
        gap: 0;
    }

}

@media screen and (max-width : 520px) {
    .added-item-description {
        flex-direction: row;
    }

    .added-item-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #citation {
        padding: 0 1rem 0 1rem;
        color: white;
        position: unset;
    }

    #header {
        font-size: 1.4rem;
    }

    .img-container {
        height: 240px;
        width: 240px;
        display: flex;
    }

    img[alt='watch-carrousel'] {
        height: auto;
        max-height: 90%;
        margin: auto;
    }

    #vitrine {
        gap: 1rem;
    }
}

.about {
    padding: 3rem;
}