@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

/* @import url('./small-screens.css'); */
@import url('./styles/landing-page.css');
@import url('./styles/shop-page.css');
@import url('./styles/item-showcase.css');
@import url('./styles/checkout.css');

html {
    width: 100%;
}

body,
#root {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    overflow-x: hidden;
    background: linear-gradient(black, grey, black);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    font-family: 'Cormorant Garamond', serif;
    color: white;
}

footer {
    flex: 0 1 auto;
    padding: 1rem;
    text-align: center;
}

#header {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 0 1 auto;
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
    width: 100vw;
    justify-content: space-around;
    opacity: 0.5;
    align-items: center;
    font-weight: 600;
}

#header:hover {
    background-color: #ECECEC;
}

#header:hover a {
    color: black;
    opacity: 1;
    transition: opacity 500ms;
    z-index: 1;
}

#header:hover .cart-shortcut-container #cart-shortcut>* {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(234deg) brightness(96%) contrast(107%);
    color: black;
}

#links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#links a {
    text-decoration: none;
    /* padding: 0.5rem; */
    color: white;
    position: relative;
    opacity: 1;
}

#links a:hover {
    text-decoration: underline;
}

#cart-shortcut {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

img[alt='cart-svg'] {
    filter: invert(100%) sepia(2%) saturate(7487%) hue-rotate(196deg) brightness(105%) contrast(100%);
    width: 35px;
}

.cart-add {
    animation: cart-animation-add;
    animation-duration: 350ms;
}

@keyframes cart-animation-add {
    0% {
        filter: invert(100%) sepia(2%) saturate(7487%) hue-rotate(196deg) brightness(105%) contrast(100%);
    }

    50% {
        filter: invert(73%) sepia(10%) saturate(5885%) hue-rotate(40deg) brightness(102%) contrast(85%);
    }

    100% {
        filter: invert(100%) sepia(2%) saturate(7487%) hue-rotate(196deg) brightness(105%) contrast(100%);
        transform: rotate(360deg);
    }
}

.cart-remove {
    animation: cart-animation-remove;
    animation-duration: 350ms;
}

@keyframes cart-animation-remove {
    0% {
        filter: invert(100%) sepia(2%) saturate(7487%) hue-rotate(196deg) brightness(105%) contrast(100%);
    }

    50% {
        filter: invert(9%) sepia(88%) saturate(6796%) hue-rotate(359deg) brightness(99%) contrast(110%);
        transform: translateX(10px);
    }

    100% {
        filter: invert(100%) sepia(2%) saturate(7487%) hue-rotate(196deg) brightness(105%) contrast(100%);
        transform: translateX(0);
    }
}

#items-count {
    font-size: 1.4rem;
    padding: 0.4rem;
    color: white;
}

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

/* MEDIA SCREEN */
/*              */
/*              */
@media screen and (max-width : 1100px) {
    #citation {
        position: relative;
    }

    p.intro {
        font-size: 1.2rem;
        animation: fadeIn 8000ms forwards;
        text-align: center;
    }

    p.intro:nth-of-type(1) {
        font-family: 'Playfair Display', serif;
        font-size: 1.1rem;
    }

    .vitrine-title,
    .lorem {
        animation: none;
    }

}

.about {
    padding: 3rem;
}