@media screen and (max-width : 800px) {
    
}
@media screen and (max-width : 800px) {
    .item-container {
        margin: 0;
        flex-wrap: wrap;
        width: auto;
    }

    img.arrow.left {
        left: 0;
    }

    img.arrow.right {
        right: 0;
    }

    .vitrine-title {
        animation: none;
    }

    .lorem {
        animation: none;
    }

    #vitrine {
        margin: unset;
        max-width: 80vw;
        /* font-size: 1rem; */
    }

    .vitrine-photo-credits {
        position: unset;
        font-size: 1rem;
    }

    .vitrine-container>p {
        font-size: 1.4rem;
    }

    .vitrine-category {
        padding: 0;
        width: 270px;
    }

    .featured {
        font-size: 1.4rem;
    }

}

@media screen and (max-width : 800px) and (min-width : 520px) {
    .carrousel-watch-display {
        gap: 0;
    }

}

@media screen and (max-width : 520px) {
    .added-item-description {
        flex-direction: row;
    }

    .added-item-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #citation {
        padding: 0 1rem 0 1rem;
        color: white;
        position: unset;
    }

    #header {
        font-size: 1.4rem;
    }

    .img-container {
        height: 240px;
        width: 240px;
        display: flex;
    }

    img[alt='watch-carrousel'] {
        height: auto;
        max-height: 90%;
        margin: auto;
    }

    #vitrine {
        gap: 1rem;
    }
    img[alt='watch-display'] {
        max-height: 200px;
    }
}